@charset "UTF-8";
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
header {
  background-color: #687EFF;
  width: 100%;
}
header .logo img {
  width: 8rem;
}
header .buscador {
  border-radius: 20px;
}
header .buscador .lupa img {
  width: 2rem;
}
header .buscador .lupa img:hover {
  opacity: 0.5;
}
header .menu a {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  transition: all 1s;
}
header .menu a:hover {
  font-size: 1.3rem;
  color: #252525;
  background-color: #6ea1ff;
  border-radius: 10px;
}
header .menu a:active {
  color: #ffffff;
  font-size: 1.3rem;
}
header .seccion3 {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "cart cart " "contacto contacto";
}
header .seccion3 .cart {
  grid-area: cart;
  justify-self: center;
}
header .seccion3 .cart img {
  width: 25px;
}
header .seccion3 .contacto {
  grid-area: contacto;
  justify-self: center;
}
header .seccion3 .contacto img {
  width: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.titulo-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #687EFF, blue, darkblue);
  height: 80px;
}
.titulo-h1 h1 {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
}

h2 {
  font-family: "Dela Gothic One", cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  font-weight: 100;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

#texto-tipeado {
  overflow: hidden;
  border-right: 1px solid black;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5s steps(40) infinite;
}

.sombraCaja {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

/* aside*/
.btn {
  font-size: 1.2rem;
}
.btn:active {
  font-size: 1.3rem;
}

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  margin-top: 50px;
}
.galeria img {
  width: 100x;
  height: 100px;
  border: 2px double rgb(255, 255, 255);
  border-radius: 22px;
  opacity: 0.7;
  transition: all 1s;
}
.galeria img:hover {
  width: 200px;
  opacity: 1;
  border-radius: 22px;
  border: solid rgb(104, 104, 104) 2px;
}
.galeria .titulo {
  font-weight: bold;
  padding-top: 20px;
}

.image-box {
  width: 100%;
  height: 250px;
  margin: 5px;
  margin-bottom: 20px;
}
.image-box.box1 {
  background-image: url("/imagenes/fondotcno1.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  border-radius: 20px;
}
.image-box.box2 {
  background-image: url("/imagenes/fondotcno2.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  border-radius: 20px;
}
.image-box.box3 {
  background-image: url("/imagenes/fondotcno3.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  border-radius: 20px;
}
.image-box.box4 {
  background-image: url("/imagenes/fondotcno4.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  border-radius: 20px;
}
.image-box .cajaTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.image-box .cajaTexto p {
  background-color: rgba(250, 235, 215, 0.8);
  text-align: center;
  border-radius: 15px;
  margin: 0;
  width: 90%;
  padding: 20px;
  color: rgb(11, 47, 83);
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .image-box .cajaTexto {
    font-size: 10px;
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .image-box .cajaTexto {
    font-size: 15px;
    padding: 18px;
  }
}

@media (min-width: 768px) {
  .image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .image-section .image-box {
    width: calc(50% - 10px);
  }
}
.dejanosUnComentario {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #818FB4;
  text-align: center;
  font-size: 20px;
}
.dejanosUnComentario h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-bottom: 50px;
  color: white;
}
.dejanosUnComentario .emailcampo, .dejanosUnComentario .formCampos input,
.dejanosUnComentario .formCampos select,
.dejanosUnComentario .formCampos textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin-top: 5px;
}
.dejanosUnComentario .buttonForm, .dejanosUnComentario .formCampos .botones input[type=submit], .dejanosUnComentario .formCampos .botones input[type=reset] {
  width: 48%;
  background-color: #3498db;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dejanosUnComentario .buttonForm:hover, .dejanosUnComentario .formCampos .botones input[type=submit]:hover, .dejanosUnComentario .formCampos .botones input[type=reset]:hover {
  background-color: #2c3e50;
}
.dejanosUnComentario .formCampos {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dejanosUnComentario .formCampos div {
  margin-bottom: 15px;
}
.dejanosUnComentario .formCampos div label {
  color: #333;
}
.dejanosUnComentario .formCampos select {
  cursor: pointer;
}
.dejanosUnComentario .formCampos textarea {
  resize: vertical;
}
.dejanosUnComentario .formCampos .sexos label {
  margin-bottom: 20px;
}
.dejanosUnComentario .formCampos .sexos .radio-group {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}
.dejanosUnComentario .formCampos .botones {
  display: flex;
  justify-content: space-between;
}
.dejanosUnComentario .formCampos .botones input[type=reset] {
  background-color: #e74c3c;
}
.containerTienda {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
.containerTienda .item {
  border: 1px solid #727272;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}
.containerTienda .item a {
  text-decoration: none;
}
.containerTienda .item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.containerTienda .item .texto {
  background-color: rgba(226, 226, 226, 0.377);
  padding: 5px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.containerTienda .item .texto .descripcion {
  background-color: rgba(133, 196, 255, 0.4117647059);
  font-size: 15px;
  color: #141414;
  font-weight: bold;
}
.containerTienda .item .texto .precio {
  font-size: 18px;
  font-weight: bold;
  color: #000d80;
}
.containerTienda .item .texto .añadirAlCarrito {
  display: inline-block;
}
.containerTienda .item .texto .añadirAlCarrito .botonCarrito {
  display: block;
  margin-top: 5px;
  background-color: hsla(204, 100%, 60%, 0.882);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.containerTienda .item .texto .añadirAlCarrito .botonCarrito:hover {
  background-color: #0004ff;
}
.containerTienda .item .texto .añadirAlCarrito .botonCarrito:active {
  font-size: 1.3rem;
}

.page-item a {
  color: white;
  background-color: #141414;
}
.page-item a:active {
  font-size: 1.3rem;
}

.tituloComoFunciona {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: aparece;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.articulo {
  margin: 20px;
}
.articulo img {
  max-width: 300px;
  width: 300px;
  height: 300px;
}
.articulo .contenido-del-articulo {
  line-height: 30px;
  text-align: start;
  flex: 1;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}
.articulo .contenido-del-articulo::first-letter {
  font-size: 150%;
  font-weight: bold;
}

.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.container .row {
  justify-content: center;
}
.container .row .caja-con-imagen-imagen1 {
  width: 250px;
  height: 200px;
  margin: 10px;
}
.container .row .caja-con-imagen-imagen1 img {
  width: 100%;
}
.container .row .caja-con-imagen-imagen2 {
  width: 250px;
  height: 200px;
  margin: 10px;
}
.container .row .caja-con-imagen-imagen2 img {
  width: 100%;
}
.container .row .caja-con-imagen-imagen3 {
  width: 250px;
  height: 200px;
  margin: 10px;
}
.container .row .caja-con-imagen-imagen3 img {
  width: 100%;
}
.container .row .caja-con-imagen-imagen4 {
  width: 250px;
  height: 200px;
  margin: 10px;
}
.container .row .caja-con-imagen-imagen4 img {
  width: 100%;
}

.estilo-acercade {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 0 auto;
}
.estilo-acercade h2 {
  font-size: 40px;
  color: #333;
}
.estilo-acercade p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.contenedor-cajas-acerca-de {
  display: grid;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-template-areas: "caja-acercade-1 caja-acercade-2 caja-acercade-3 caja-acercade-4";
  width: 100%;
  margin-bottom: 5rem;
}
.contenedor-cajas-acerca-de .caja-acercade-1 {
  width: 15rem;
  height: 13rem;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  justify-self: center;
  grid-area: auto;
}
.contenedor-cajas-acerca-de .caja-acercade-1 img {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 85%;
  height: 90%;
}
.contenedor-cajas-acerca-de .caja-acercade-1 span {
  font-size: 1.3rem;
  color: rgb(78, 78, 78) bold;
}
.contenedor-cajas-acerca-de .caja-acercade-2 {
  width: 15rem;
  height: 13rem;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  justify-self: center;
  grid-area: auto;
}
.contenedor-cajas-acerca-de .caja-acercade-2 img {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 85%;
  height: 90%;
}
.contenedor-cajas-acerca-de .caja-acercade-2 span {
  font-size: 1.3rem;
  color: rgb(78, 78, 78) bold;
}
.contenedor-cajas-acerca-de .caja-acercade-3 {
  width: 15rem;
  height: 13rem;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  justify-self: center;
  grid-area: auto;
}
.contenedor-cajas-acerca-de .caja-acercade-3 img {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 85%;
  height: 90%;
}
.contenedor-cajas-acerca-de .caja-acercade-3 span {
  font-size: 1.3rem;
  color: rgb(78, 78, 78) bold;
}
.contenedor-cajas-acerca-de .caja-acercade-4 {
  width: 15rem;
  height: 13rem;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  justify-self: center;
  grid-area: auto;
}
.contenedor-cajas-acerca-de .caja-acercade-4 img {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 85%;
  height: 90%;
}
.contenedor-cajas-acerca-de .caja-acercade-4 span {
  font-size: 1.3rem;
  color: rgb(78, 78, 78) bold;
}

.containerFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "navegacion navegacion navegacion" "suscripcion copyright maps" "suscripcion copyright maps";
  width: 100%;
}
.containerFooter .navegacion {
  grid-area: navegacion;
  display: flex;
  justify-content: center;
}
.containerFooter .navegacion .menufooter {
  margin-top: 20px;
  padding-bottom: 50px;
}
.containerFooter .navegacion .menufooter li {
  display: inline;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.containerFooter .navegacion .menufooter li a {
  text-decoration: none;
  color: #fff;
}
.containerFooter .navegacion .menufooter li a img {
  width: 25px;
  margin: -5px;
}
.containerFooter .navegacion .menufooter li:hover {
  background-color: rgb(105, 105, 105);
}
.containerFooter .navegacion .menufooter li:active {
  font-size: 1.3rem;
}
.containerFooter .suscripcion {
  grid-area: suscripcion;
  padding-left: 15px;
}
.containerFooter .suscripcion form {
  text-align: center;
}
.containerFooter .suscripcion form label {
  font-size: 18px;
  color: #d6d6d6;
  margin-right: 10px;
}
.containerFooter .suscripcion form .emailcampo {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 15px;
}
.containerFooter .suscripcion form .button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.containerFooter .suscripcion form .button:hover {
  background-color: #555;
}
.containerFooter .copyright {
  grid-area: copyright;
}
.containerFooter .maps {
  grid-area: maps;
  justify-self: end;
}
.containerFooter .maps iframe {
  grid-area: maps;
  width: 10rem;
  height: 10 rem;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /*media para el header*/
  .seccion3 {
    /*para la seccion del header*/
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "cart contacto";
  }
  .seccion3 .cart {
    justify-self: end;
    margin-right: 5px;
  }
  .seccion3 .cart img {
    margin: 10px;
  }
  .seccion3 .contacto {
    justify-self: start;
    margin-left: 5px;
  }
  /*media 768px para la main de inicio*/
  .galeria img {
    opacity: 1;
  }
  .item {
    border: 10px solid #727272;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  }
  .item a {
    text-decoration: none;
  }
  .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /*media para el footer*/
  .containerFooter {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navegacion " "suscripcion " "copyright  " "maps ";
    width: 100%;
    row-gap: 30px;
  }
  .containerFooter .navegacion {
    font-size: 17px;
    padding-bottom: 20px;
  }
  .containerFooter .navegacion .menufooter {
    width: 80%;
    padding: 15px;
  }
  .containerFooter .navegacion .menufooter li {
    line-height: 50px;
  }
  .containerFooter .maps {
    justify-self: center;
    padding-bottom: 20px;
  }
  .containerFooter .maps iframe {
    width: 40rem;
    height: 6rem;
  }
  /*media de la main de contacto*/
  label {
    font-size: 20px;
  }
  label .emailcampo {
    font-size: 15px;
  }
  /*media para la pagina de Acerca de nosotros*/
  .contenedor-cajas-acerca-de {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "caja-acercade-1 caja-acercade-2" "caja-acercade-3 caja-acercade-4";
    width: 100%;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 480px) {
  /*media del header*/
  .cart {
    justify-self: self-start;
    margin-left: 10px;
  }
  .contacto {
    justify-self: end;
    margin-right: 10px;
  }
  .logo img {
    width: 6rem;
  }
  .buscador {
    border-radius: 20px;
  }
  /*media de la pagina de productos*/
  .containerTienda {
    grid-template-columns: repeat(2, 1fr);
  }
  /*media para la pagina de Acerca de nosotros*/
  .contenedor-cajas-acerca-de {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "caja-acercade-1" "caja-acercade-2" "caja-acercade-3" "caja-acercade-4";
    width: 100%;
    margin-bottom: 5rem;
  }
  /*media del footer*/
  .containerFooter {
    /*cambio las columnas y filas del footer*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    grid-template-areas: "navegacion " "suscripcion" "copyright" " maps";
  }
  .containerFooter .navegacion {
    font-size: 17px;
    padding-bottom: 20px;
  }
  .containerFooter .navegacion .menufooter {
    width: 80%;
    padding: 15px;
  }
  .containerFooter .navegacion .menufooter li {
    line-height: 50px;
  }
  .containerFooter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 28rem;
  }
  .containerFooter form label {
    font-size: 15px;
    align-self: center;
  }
  .containerFooter form .emailcampo {
    width: 15rem;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 30px;
  }
  .containerFooter form .button {
    width: 10rem;
  }
  .containerFooter .maps iframe {
    display: block;
    margin: 0 auto;
    width: 18rem;
    height: 8rem;
  }
  /*media de la main de como funciona*/
  .tituloComoFunciona h2 {
    /*achico la letra de la pagina de "como funciona"*/
    font-size: 25px;
  }
  .articulo img {
    width: 10rem;
    height: 10rem;
  }
  /*media de la main de contacto*/
  .formulario h2 {
    /*achico la letra de la pagina de contacto*/
    font-size: 25px;
  }
}

/*# sourceMappingURL=estilo.css.map */
