.articulo {

    margin: 20px;

    img {
        max-width: 300px;
        width: 300px;
        height: 300px;


    }

    .contenido-del-articulo {
        line-height: 30px;
        text-align: start;
        flex: 1;
        padding: 20px;
        margin-right: 20px;
        border: 1px solid;
        box-shadow: $sombraCajas;

        
        &::first-letter {
            font-size: 150%;
            font-weight: bold;
        }
    }
}


.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;

    .row {
        justify-content: center;
        
        
        @each $imagen in $imagenes {
            .caja-con-imagen-#{$imagen} {

                width: 250px;
                height: 200px;
                margin: 10px;

                img {
                    width: 100%;
                }
            }
        }
    }
}