@media screen and (max-width:768px) {

    /*media para el header*/
    .seccion3 {
        /*para la seccion del header*/
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "cart contacto"
        ;

        .cart {
            justify-self: end;
            margin-right: 5px;

            img {
                margin: 10px;
            }

        }

        .contacto {
            justify-self: start;
            margin-left: 5px;


        }

    }

    /*media 768px para la main de inicio*/
    .galeria img {
        opacity: 1;
    }

    .item {
        border: 10px solid #727272;
        text-align: center;
        overflow: hidden;
        position: relative;
        box-shadow: $sombraCajas;

        a {
            text-decoration: none;
        }



        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }






    }








    /*media para el footer*/
    .containerFooter {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "navegacion "
            "suscripcion "
            "copyright  "
            "maps ";
        width: 100%;
        row-gap: 30px;

        .navegacion {
            font-size: 17px;
            padding-bottom: 20px;

            .menufooter {
                width: 80%;
                padding: 15px;

                li {
                    line-height: 50px;
                }
            }

        }

        .maps {
            justify-self: center;
            padding-bottom: 20px;

            iframe {
                width: 40rem;
                height: 6rem;
            }

        }

    }



    /*media de la main de contacto*/
    label {
        font-size: 20px;

        .emailcampo {
            font-size: 15px;


        }

    }

    /*media para la pagina de Acerca de nosotros*/

    .contenedor-cajas-acerca-de {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "caja-acercade-1 caja-acercade-2"
            "caja-acercade-3 caja-acercade-4";
        width: 100%;
        margin-bottom: 5rem;


    }


}

@media screen and (max-width:480px) {
    /*media del header*/

    .cart {
        justify-self: self-start;
        margin-left: 10px;

    }

    .contacto {
        justify-self: end;
        margin-right: 10px;

    }

    .logo img {
        width: 6rem;
    }

    .buscador {
        border-radius: 20px;

    }

    /*media de la pagina de productos*/
    .containerTienda {

        grid-template-columns: repeat(2, 1fr);
    }


    /*media para la pagina de Acerca de nosotros*/

    .contenedor-cajas-acerca-de {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        grid-template-areas:
            "caja-acercade-1" 
            "caja-acercade-2"
            "caja-acercade-3"
            "caja-acercade-4";
        width: 100%;
        margin-bottom: 5rem;


    }

    /*media del footer*/
    .containerFooter {
        /*cambio las columnas y filas del footer*/
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        grid-template-areas:

            "navegacion "
            "suscripcion"
            "copyright"
            " maps";

        .navegacion {
            font-size: 17px;
            padding-bottom: 20px;

            .menufooter {
                width: 80%;
                padding: 15px;

                li {
                    line-height: 50px;
                }
            }

        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 28rem;



            label {
                font-size: 15px;
                align-self: center;

            }

            .emailcampo {
                width: 15rem;
                font-size: 10px;
                padding: 10px;
                margin-bottom: 30px;
            }

            .button {
                width: 10rem;
            }




        }

        .maps {


            iframe {
                display: block;
                margin: 0 auto;
                width: 18rem;
                height: 8rem;

            }
        }



    }



    /*media de la main de como funciona*/
    .tituloComoFunciona h2 {
        /*achico la letra de la pagina de "como funciona"*/
        font-size: 25px;
    }

    .articulo img {
        width: 10rem;
        height: 10rem;
    }

    /*media de la main de contacto*/
    .formulario h2 {
        /*achico la letra de la pagina de contacto*/
        font-size: 25px;

    }

}