$sombraCajas: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
$paddindDeTitulos: 20px;
$botonActivo: 1.3rem;
$numero-de-cajas-acerca-de: 4;
$ancho-de-caja-acerca-de: 15rem;
$alto-de-caja-acerca-de: 13rem;
$imagenes-ruta: "imagenes/";
$imagenes: "imagen1", "imagen2", "imagen3", "imagen4";
$form-background-color: #f4f4f4;
$input-background-color: #ffffff;
$input-border: 1px solid #ccc;
$input-padding: 8px;
$label-color: #333;
$button-background-color: #3498db;
$button-color: #ffffff;
$button-hover-color: #2c3e50;
@mixin background-image($image) {
    background-image: url($image);
    background-size: cover;
    background-position: center;
    opacity: 1;
    border-radius: 20px;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

